<div id="flash-update" style = "display: none" >
    
</div>

<div id="flash-remove" style = "display: none" >

</div>

<% if basket_size == 0 %>

<%= render "emptybasket" %>

<% else %>

<%= render "checkoutbasket" %>

<% end %>

