// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
  .status_tag { background: #b2b2b2;}

  .status_tag, .status_tag.pending.warning {background: "orange";}

  .status_tag.complete, .status_tag.complete.ok {background: #27ae60;}

  .status_tag.shipped, .status_tag.shipped.ok {background: #27ae60;}

  .status_tage.cancelled, .status_tag.cancelled.error {background: #c0392b;}

  form#edit_size, form#edit_order_product {width: 500px; margin: 0 auto;}

  form#edit_product, form#edit_order, form#new_product, form#new_size  {width: 620px; margin: 0 auto;}

  li.input {width: 500px;}

  li.input #product_color {width: 80px;}

  li.input #product_price {width: 40px;}

  li#disabled.disabled.select.input.optional {display: none}



 


 

  
  
