@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

.scrollup {
	height: 200px;
	width: 200px;
	position: fixed;
	top: 18%;
	left: 0.5%;
	z-index: 20;
}

div#fancy {
	margin-top: 30px;
}


html, body {
	height: 100%;

}


body {
	font-family: "Roboto", "Faster One", sans-serif;
	font-size: 18px;
	line-height: 1.4;
	background: #d3d3d3;
	color: #ffffff;
	left: 150;
	width: 100%;
}

/*MAIN SETTING FOR ALL PAGE*/
header, section {
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative; 
}


/*IMAGE FIRST PAGE*/
header.full {
	background-image: url(../pics/netherlands.jpg);
	z-index: 1000;
}


/*WHITE HEADER FOR MENU BAR*/
div.menu {
	background: white;
	opacity: 0.9;
	height: 90px;
	line-height: 90px;
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	z-index: 10;
	text-align: right;
	/*make text align right for future*/
	padding-right: 30px;
}

nav a {
	padding-left: 30px;
	padding-right: 30px;
}

a {
	color: black;
	z-index: 11;
	font-size: 25px;
	font-family: faster one;
	text-decoration: none;
}

a:hover {
	color: red;
}


/*CHIPPY LOGO!!*/
h1 {
	position: fixed;
	left: 0%;
	top: -5%;
	width: 350px;
	z-index: 20;
	/*had to change margine from 125 to 185*/
}


/*CHECKED header video */
div.videoframe {
	background-color: red; 
	width: 510px;
	height: 386px;
	position: absolute;
	left: 34%;
	top: 30%;
}

iframe {
	position: absolute;
	padding: 6px
	z-index: 1;
}









/*USED IMAGES ALL IMAGES OF BACKGROUND ARE 100%*/
.full {
	height: 100%;
}
section#andorra {
	background-image: url(../pics/andorra.jpg);
}
section#bulgaria {
	background-image: url(../pics/bulgaria.jpg);
}
section#trans {
	background-image: url(../pics/transn.PNG);
}
section#portugal {
	background-image: url(../pics/portugal.jpg);
}
section#albania {
	background-image: url(../pics/albania.jpg);
}
section#kos {
	background-image: url(../pics/kosovo.jpg);
}


/*WE DIDNT USE THIS IMAGES YET BUT MAYBE FOR FUTURE*/
section#netherlands {
	background-image: url(../pics/netherlands.jpg);
}
section#france {
	background-image: url(../pics/france.jpg);
}
section#romenia {
	background-image: url(../pics/romenia.jpg);
}
section#turkey {
	background-image: url(../pics/turkey.jpg);
}












/*SECOND PAGE ----- PROFILES*/

 /*so that its all on one page!!!!!!


not sure if needed!!!
 section.content {
	width: 960px;
	margin: 60px auto 60px auto;
	height: 100%;

}
section.content img {
	height: auto;
	width: auto;
	border-radius: 50%;
}*/




div.container {
	width: 960px;
	padding-top: 50px;
}

h2 {
	font-size: 40px;
	font-family: faster one;
	color: red;
	text-align: center;
	margin-top: 80px;
}

img#rond{
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin-left: 60px;
	cursor: default;
	
}

p#profile {
	font-size: 14px;
	text-indent: 40px;
	padding-top: 180px;
	text-align: justify;
}












/*THIRD PAGE ----- STORIES fancy pop up pictures*/

/*make sure the pics look clicable*/
section#travels img {
	position: relative;
	cursor: pointer;
	transition: all 0.25s;
	top: 0;
}
section#travels img:hover {
	top: -5px;
	box-shadow: 0px 5px 5px rgba(250,0,0,0.45);
}


/*not working to get picture bigger!!!!*/
section#travels img#trip:hover {
	background-image: url(../pics/me.jpg);
	z-index: 10;
	background-size: contain;
}

a.fancybox img {
	text-align: center;
	display: inline-block;
	height: 200px;
	width: 300px;
}















/*FOURTH PAGE ----- STORIES fancy pop up pictures*/

div.slider {
	padding-top: 100px;
}
















/*WE HAVE TO ADD THIS WHEN WE DECIDED THE LOGO FOR MAESON MKT AND WEB DEV!!!
FOOTERs PAGE 


footer {
	background-color: white;
	color: black;
	text-align: right;
}
h6 {
	color: white;
	padding-top: 30px;
	font-family: roboto;
	font-size: 14px;
	font-weight: 700;
	text-align: center;

}
0


















/*THIS IS FOR THE PRODUCT PAGE!!!!*/

/*this is the second nav where u select what item u whant!!!*/
body.group {
	background-color: #101010;
}

section#classes {
  background-color: white;
  width: 150px;
  margin: 0px;
  top: 0px;
  height: 100%;
  position: fixed;
}

nav#classes {
	height: 200px;
	top: 200px;
	position: fixed;
}

h1 a.pro {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #dddddd;
  display: block;
  padding: 0 0 20px 0;
  transition: all 0.25s;
}








/*Products!!!!!!*/

section#products {
	/*background-image: url(../pics/maybe3.jpg);*/
  float: right;
  width: 900px;
  margin: 0 0 40px 0;
  padding-top: 100px;
}

div.product {
  width: 280px;
  margin: 0 10px 20px 10px;
  border-bottom: 1px solid #dddddd;
  position: relative;
}

div.product div.meta {
  padding: 10px 0 10px 0;
}

div.product h2 {
  font-size: 14px;
}

div.product p {
  margin: 5px 0 5px 0;
  font-size: 11px;
  color: #a7a7a7;
}


a.buy {
  position: absolute;
  top: 190px;
  left: 0;
  width: 100%;

  background: #b65151;
  color: white;
  font-style: roboto;

  padding: 10px 0 10px 0;

  font-size: 24px;
  font-weight: 700;

  text-align: center;
  text-decoration: none;

  opacity: 0;
}

div.product:hover a.buy {
  top: 184px;
  font: roboto;
  opacity: 1;

  /* just on hover do transition */
  transition: opacity 0.25s ease, top 0.25s ease;
}











/*product options!!!!!*/

div.product.small a.buy {
  top: 70px;
}

div.product.small:hover a.buy {
  top: 64px;
}


nav#classes {
  margin: 15px 0 20px 0;
}

nav#classes a.pro {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: red;
}

a.selected {
  color: #1064d9;
}

a#clear {
  color: #c80b4a;
  margin-top: 15px;
  padding-top: 20px;
  border-top: 1px solid #dddddd;
}
















/*ipad!!!!!!!!!!*/
@media screen and (max-width: 1000px){
	nav a {
		padding-left: 15px;
		padding-right: 15px;
	}
	h1{
		width: 300px;
	}
}




/*phone!!!!!!!!!!*/
@media screen and (max-width: 800px) {
	
	h1 {
		padding-top: 30px;
		left: 38%;
		height: 170px;
		width: 200px;
		position: absolute;
	}
	div.menu {
		padding-top: 150px;
		height: auto;
		text-align: center;
		position: relative;
		box-shadow: none;
		width: 100%;
		float: none;
	}
	
	nav a {
		display: block;
	}
	a {
		font-size: 20px;
		padding-top: 0px;
	}

	div.videoframe {
		position: absolute;
		top: 520px;
	}
}


/* responsive css for smaller devices!



@media screen and (max-width: 800px) {
	div.column, 
	section#quotes div.column,
	div.lead, 
	div.iphone,
	h1,
	nav {
		float: none;
		width: 100%;
	}



	

	section#tea {
		height: auto;
		background-size: cover;
		margin-top: 0;
	}

	div.lead {
		margin-top: 60px;
	}

	section#contact {
		padding: 20px;
	}

	form {
		width: 100%;
	}

	div.column {
		width: 50%;
	}

}

 */

















/* needs to make isotope work */

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}





/*

USED FOR PREVIOUS WEBSITE BUT NOT NEEDED ANYMORE!!!
 so that image poplightbox style jquery java

div#lightbox {
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	text-align: center;
	display: none;
}

div#lightbox img {
	width: 700px;
	margin: 100px 0;

h5 {
	width: 60px;
	z-index: 15;
	right: 0%;
}

img.button {
	width: 60px;
	text-align: center;
	margin: 10px 10px 10px 10px;
}

img#front{
	padding: 4px;
	position: absolute;
	z-index: 8;
}

div#face {
	width: 120px;
	height: 70px;
	position: absolute;
	left: 56%;
	top: 40%;
	z-index: 9;
}

div#face a {
	height: 60px;
	width: 120px;
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0 10px 0 0;
	z-index: 10;
}

a.book:hover {
	color: red;	
}

h3 {
	font-family: roboto;
	font-size: 16px;
	text-align: center;
	padding-top: 20px;
	font-style: italic;
}
	
img#mini {
	position: fixed;
	left: 8%;
	height: 100px;
	width: 120px;
	z-index: 100;
	}



	???????????????????????????????????????????
	@media screen and (max-width: 1000px) {
	div.container {
		margin: 0 20px 0 20px;
	}
}	
*/




